0_govDocs/ZUGFeRD-3/Schema/2. Factur-X_1.07.2_BASIC/Factur-X_1.07.2_BASIC_urn_un_unece_uncefact_data_standard_ReusableAggregateBusinessInformationEntity_100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:ram="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:qdt="urn:un:unece:uncefact:data:standard:QualifiedDataType:100"
    xmlns:udt="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100"
    targetNamespace="urn:un:unece:uncefact:data:standard:ReusableAggregateBusinessInformationEntity:100"
    elementFormDefault="qualified">
  <xs:import namespace="urn:un:unece:uncefact:data:standard:QualifiedDataType:100" schemaLocation="Factur-X_1.07.2_BASIC_urn_un_unece_uncefact_data_standard_QualifiedDataType_100.xsd"/>
  <xs:import namespace="urn:un:unece:uncefact:data:standard:UnqualifiedDataType:100" schemaLocation="Factur-X_1.07.2_BASIC_urn_un_unece_uncefact_data_standard_UnqualifiedDataType_100.xsd"/>
  <xs:complexType name="CreditorFinancialAccountType">
    <xs:sequence>
      <xs:element name="ram___IBANID" type="udt:IDType" minOccurs="0"/>
      <xs:element name="ram___ProprietaryID" type="udt:IDType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DebtorFinancialAccountType">
    <xs:sequence>
      <xs:element name="ram___IBANID" type="udt:IDType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentContextParameterType">
    <xs:sequence>
      <xs:element name="ram___ID" type="udt:IDType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentLineDocumentType">
    <xs:sequence>
      <xs:element name="ram___LineID" type="udt:IDType"/>
      <xs:element name="ram___IncludedNote" type="ram:NoteType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangedDocumentContextType">
    <xs:sequence>
      <xs:element name="ram___BusinessProcessSpecifiedDocumentContextParameter" type="ram:DocumentContextParameterType" minOccurs="0"/>
      <xs:element name="ram___GuidelineSpecifiedDocumentContextParameter" type="ram:DocumentContextParameterType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangedDocumentType">
    <xs:sequence>
      <xs:element name="ram___ID" type="udt:IDType"/>
      <xs:element name="ram___TypeCode" type="qdt:DocumentCodeType"/>
      <xs:element name="ram___IssueDateTime" type="udt:DateTimeType"/>
      <xs:element name="ram___IncludedNote" type="ram:NoteType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderTradeAgreementType">
    <xs:sequence>
      <xs:element name="ram___BuyerReference" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___SellerTradeParty" type="ram:TradePartyType"/>
      <xs:element name="ram___BuyerTradeParty" type="ram:TradePartyType"/>
      <xs:element name="ram___SellerTaxRepresentativeTradeParty" type="ram:TradePartyType" minOccurs="0"/>
      <xs:element name="ram___BuyerOrderReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0"/>
      <xs:element name="ram___ContractReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderTradeDeliveryType">
    <xs:sequence>
      <xs:element name="ram___ShipToTradeParty" type="ram:TradePartyType" minOccurs="0"/>
      <xs:element name="ram___ActualDeliverySupplyChainEvent" type="ram:SupplyChainEventType" minOccurs="0"/>
      <xs:element name="ram___DespatchAdviceReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderTradeSettlementType">
    <xs:sequence>
      <xs:element name="ram___CreditorReferenceID" type="udt:IDType" minOccurs="0"/>
      <xs:element name="ram___PaymentReference" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___TaxCurrencyCode" type="qdt:CurrencyCodeType" minOccurs="0"/>
      <xs:element name="ram___InvoiceCurrencyCode" type="qdt:CurrencyCodeType"/>
      <xs:element name="ram___PayeeTradeParty" type="ram:TradePartyType" minOccurs="0"/>
      <xs:element name="ram___SpecifiedTradeSettlementPaymentMeans" type="ram:TradeSettlementPaymentMeansType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ram___ApplicableTradeTax" type="ram:TradeTaxType" maxOccurs="unbounded"/>
      <xs:element name="ram___BillingSpecifiedPeriod" type="ram:SpecifiedPeriodType" minOccurs="0"/>
      <xs:element name="ram___SpecifiedTradeAllowanceCharge" type="ram:TradeAllowanceChargeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ram___SpecifiedTradePaymentTerms" type="ram:TradePaymentTermsType" minOccurs="0"/>
      <xs:element name="ram___SpecifiedTradeSettlementHeaderMonetarySummation" type="ram:TradeSettlementHeaderMonetarySummationType"/>
      <xs:element name="ram___InvoiceReferencedDocument" type="ram:ReferencedDocumentType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ram___ReceivableSpecifiedTradeAccountingAccount" type="ram:TradeAccountingAccountType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LegalOrganizationType">
    <xs:sequence>
      <xs:element name="ram___ID" type="udt:IDType" minOccurs="0"/>
      <xs:element name="ram___TradingBusinessName" type="udt:TextType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LineTradeAgreementType">
    <xs:sequence>
      <xs:element name="ram___GrossPriceProductTradePrice" type="ram:TradePriceType" minOccurs="0"/>
      <xs:element name="ram___NetPriceProductTradePrice" type="ram:TradePriceType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LineTradeDeliveryType">
    <xs:sequence>
      <xs:element name="ram___BilledQuantity" type="udt:QuantityType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LineTradeSettlementType">
    <xs:sequence>
      <xs:element name="ram___ApplicableTradeTax" type="ram:TradeTaxType"/>
      <xs:element name="ram___BillingSpecifiedPeriod" type="ram:SpecifiedPeriodType" minOccurs="0"/>
      <xs:element name="ram___SpecifiedTradeAllowanceCharge" type="ram:TradeAllowanceChargeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ram___SpecifiedTradeSettlementLineMonetarySummation" type="ram:TradeSettlementLineMonetarySummationType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NoteType">
    <xs:sequence>
      <xs:element name="ram___Content" type="udt:TextType"/>
      <xs:element name="ram___SubjectCode" type="udt:CodeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencedDocumentType">
    <xs:sequence>
      <xs:element name="ram___IssuerAssignedID" type="udt:IDType"/>
      <xs:element name="ram___FormattedIssueDateTime" type="qdt:FormattedDateTimeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpecifiedPeriodType">
    <xs:sequence>
      <xs:element name="ram___StartDateTime" type="udt:DateTimeType" minOccurs="0"/>
      <xs:element name="ram___EndDateTime" type="udt:DateTimeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplyChainEventType">
    <xs:sequence>
      <xs:element name="ram___OccurrenceDateTime" type="udt:DateTimeType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplyChainTradeLineItemType">
    <xs:sequence>
      <xs:element name="ram___AssociatedDocumentLineDocument" type="ram:DocumentLineDocumentType"/>
      <xs:element name="ram___SpecifiedTradeProduct" type="ram:TradeProductType"/>
      <xs:element name="ram___SpecifiedLineTradeAgreement" type="ram:LineTradeAgreementType"/>
      <xs:element name="ram___SpecifiedLineTradeDelivery" type="ram:LineTradeDeliveryType"/>
      <xs:element name="ram___SpecifiedLineTradeSettlement" type="ram:LineTradeSettlementType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplyChainTradeTransactionType">
    <xs:sequence>
      <xs:element name="ram___IncludedSupplyChainTradeLineItem" type="ram:SupplyChainTradeLineItemType" maxOccurs="unbounded"/>
      <xs:element name="ram___ApplicableHeaderTradeAgreement" type="ram:HeaderTradeAgreementType"/>
      <xs:element name="ram___ApplicableHeaderTradeDelivery" type="ram:HeaderTradeDeliveryType"/>
      <xs:element name="ram___ApplicableHeaderTradeSettlement" type="ram:HeaderTradeSettlementType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxRegistrationType">
    <xs:sequence>
      <xs:element name="ram___ID" type="udt:IDType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeAccountingAccountType">
    <xs:sequence>
      <xs:element name="ram___ID" type="udt:IDType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeAddressType">
    <xs:sequence>
      <xs:element name="ram___PostcodeCode" type="udt:CodeType" minOccurs="0"/>
      <xs:element name="ram___LineOne" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___LineTwo" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___LineThree" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___CityName" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___CountryID" type="qdt:CountryIDType"/>
      <xs:element name="ram___CountrySubDivisionName" type="udt:TextType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeAllowanceChargeType">
    <xs:sequence>
      <xs:element name="ram___ChargeIndicator" type="udt:IndicatorType"/>
      <xs:element name="ram___CalculationPercent" type="udt:PercentType" minOccurs="0"/>
      <xs:element name="ram___BasisAmount" type="udt:AmountType" minOccurs="0"/>
      <xs:element name="ram___ActualAmount" type="udt:AmountType"/>
      <xs:element name="ram___ReasonCode" type="qdt:AllowanceChargeReasonCodeType" minOccurs="0"/>
      <xs:element name="ram___Reason" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___CategoryTradeTax" type="ram:TradeTaxType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradePartyType">
    <xs:sequence>
      <xs:element name="ram___ID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ram___GlobalID" type="udt:IDType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ram___Name" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___SpecifiedLegalOrganization" type="ram:LegalOrganizationType" minOccurs="0"/>
      <xs:element name="ram___PostalTradeAddress" type="ram:TradeAddressType" minOccurs="0"/>
      <xs:element name="ram___URIUniversalCommunication" type="ram:UniversalCommunicationType" minOccurs="0"/>
      <xs:element name="ram___SpecifiedTaxRegistration" type="ram:TaxRegistrationType" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradePaymentTermsType">
    <xs:sequence>
      <xs:element name="ram___Description" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___DueDateDateTime" type="udt:DateTimeType" minOccurs="0"/>
      <xs:element name="ram___DirectDebitMandateID" type="udt:IDType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradePriceType">
    <xs:sequence>
      <xs:element name="ram___ChargeAmount" type="udt:AmountType"/>
      <xs:element name="ram___BasisQuantity" type="udt:QuantityType" minOccurs="0"/>
      <xs:element name="ram___AppliedTradeAllowanceCharge" type="ram:TradeAllowanceChargeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeProductType">
    <xs:sequence>
      <xs:element name="ram___GlobalID" type="udt:IDType" minOccurs="0"/>
      <xs:element name="ram___Name" type="udt:TextType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeSettlementHeaderMonetarySummationType">
    <xs:sequence>
      <xs:element name="ram___LineTotalAmount" type="udt:AmountType"/>
      <xs:element name="ram___ChargeTotalAmount" type="udt:AmountType" minOccurs="0"/>
      <xs:element name="ram___AllowanceTotalAmount" type="udt:AmountType" minOccurs="0"/>
      <xs:element name="ram___TaxBasisTotalAmount" type="udt:AmountType"/>
      <xs:element name="ram___TaxTotalAmount" type="udt:AmountType" minOccurs="0" maxOccurs="2"/>
      <xs:element name="ram___GrandTotalAmount" type="udt:AmountType"/>
      <xs:element name="ram___TotalPrepaidAmount" type="udt:AmountType" minOccurs="0"/>
      <xs:element name="ram___DuePayableAmount" type="udt:AmountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeSettlementLineMonetarySummationType">
    <xs:sequence>
      <xs:element name="ram___LineTotalAmount" type="udt:AmountType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeSettlementPaymentMeansType">
    <xs:sequence>
      <xs:element name="ram___TypeCode" type="qdt:PaymentMeansCodeType"/>
      <xs:element name="ram___PayerPartyDebtorFinancialAccount" type="ram:DebtorFinancialAccountType" minOccurs="0"/>
      <xs:element name="ram___PayeePartyCreditorFinancialAccount" type="ram:CreditorFinancialAccountType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TradeTaxType">
    <xs:sequence>
      <xs:element name="ram___CalculatedAmount" type="udt:AmountType" minOccurs="0"/>
      <xs:element name="ram___TypeCode" type="qdt:TaxTypeCodeType"/>
      <xs:element name="ram___ExemptionReason" type="udt:TextType" minOccurs="0"/>
      <xs:element name="ram___BasisAmount" type="udt:AmountType" minOccurs="0"/>
      <xs:element name="ram___CategoryCode" type="qdt:TaxCategoryCodeType"/>
      <xs:element name="ram___ExemptionReasonCode" type="udt:CodeType" minOccurs="0"/>
      <xs:element name="ram___DueDateTypeCode" type="qdt:TimeReferenceCodeType" minOccurs="0"/>
      <xs:element name="ram___RateApplicablePercent" type="udt:PercentType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UniversalCommunicationType">
    <xs:sequence>
      <xs:element name="ram___URIID" type="udt:IDType"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
